body {
    width: 800px;
}

ul {
    list-style-type: none;
}

img {
    width: 80%;
    height: auto;
}
 
.container {
    display: flex;
}

.container > div {
    flex: 1;
    position: relative;
}

.imgDiv {
}

.txtDiv {
}

.btnDiv {
}

.delBtn {
    position: absolute;
    top: 20;
    right: 40;
}

.dtlsBtn {
    position: absolute;
    bottom: 20;
    right: 40;
}
